AWS_REGION=ap-south-1
AWS_ACCOUNT_ID=146259920132
IMAGE_TAG=prod-001

CLUSTER_NAME=hireforge-cluster
SERVICE_PREFIX=hireforge

EXECUTION_ROLE_ARN=arn:aws:iam::146259920132:role/ecsTaskExecutionRole
TASK_ROLE_ARN=arn:aws:iam::146259920132:role/hireforge-ecs-task-role

S3_BUCKET=hireforge-resumes
SQS_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/146259920132/hireforge-jobs
FRONTEND_URL=https://app.example.com
VITE_API_URL=https://api.example.com/api
GROQ_MODEL=llama-3.3-70b-versatile

MONGODB_URI_SECRET_ARN=arn:aws:secretsmanager:ap-south-1:146259920132:secret:hireforge/mongodb-uri
JWT_SECRET_SECRET_ARN=arn:aws:secretsmanager:ap-south-1:146259920132:secret:hireforge/jwt-secret
GROQ_API_KEY_SECRET_ARN=arn:aws:secretsmanager:ap-south-1:146259920132:secret:hireforge/groq-api-key

SUBNET_A=subnet-REPLACE_ME
SUBNET_B=subnet-REPLACE_ME
SECURITY_GROUP=sg-REPLACE_ME
TARGET_GROUP_FRONTEND_ARN=arn:aws:elasticloadbalancing:ap-south-1:146259920132:targetgroup/hireforge-frontend/REPLACE_ME
TARGET_GROUP_BACKEND_ARN=arn:aws:elasticloadbalancing:ap-south-1:146259920132:targetgroup/hireforge-backend/REPLACE_ME
